h1 {
    color: rgb(91, 190, 104);
    font-family: Georgia;
    font-size: 250%;
}

table {
    background-color: #a7dbfde8;
    vertical-align: center;
    align-self: center;
}

body {
    background-color: #FFFFFF;
}